# Inference dependencies.
#
# Detectron2 is NOT on PyPI - install it separately, after torch:
#     pip install 'git+https://github.com/facebookresearch/detectron2.git@v0.6'
#
# The checkpoint was trained with Detectron2 0.6. Newer versions load it fine,
# but pin v0.6 if you want to reproduce training exactly.
torch>=1.10
torchvision>=0.11
numpy>=1.21
opencv-python>=4.5
Pillow>=9.0
pycocotools>=2.0.4
fvcore>=0.1.5
omegaconf>=2.1
yacs>=0.1.8
tqdm>=4.60
tabulate>=0.8
termcolor>=1.1
cloudpickle>=2.0
